.post-overview {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 10px #00000033;

  background-color: #fff8f4;

  cursor: pointer;
  transition: all 200ms;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 600;
  }

  &__body {
    padding: 20px;
    font-size: 10px;
    font-weight: 400;
  }

  &:hover {
    box-shadow: 0 10px 20px #00000033;
  }
}
