.add-category-popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-category-card {
  width: 60%;
  min-height: 70%;
  background-color: #fff;

  padding: 20px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  transform-origin: center;
  animation: popup 300ms cubic-bezier(1, -0.08, 0.56, 0.7);

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__content {
    width: 100%;
  }
}

@keyframes popup {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
