.post-view {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-top: 50px;
}

.post {
  width: 50%;
  border: 1px solid gainsboro;
  border-radius: 15px;
  padding: 15px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
    font-size: 25px;

    margin-bottom: 20px;
  }

  &__id {
    color: blueviolet;
  }

  &__body {
    width: 80%;
    text-align: center;

    margin-bottom: 40px;
  }

  &__btn-group {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    font-size: 15px;

    transition: all 150ms;

    &:active,
    &:focus {
      outline: none;
    }

    &:not(:last-of-type) {
      margin-right: 8px;
    }

    &--delete {
      background-color: #cc2f2f;
      color: #fff;

      &:hover {
        background-color: #aa0b0b;
      }
    }
  }
}
